PORT=5000
MDB=mongodb://localhost:27017/ayurveda
JWT_SECRET=your_jwt_secret_here

AYURVEDA_BACKEND_URL=http://localhost:5000
AYURVEDA_NLP_URL=http://localhost:8000
BASE_URL=http://localhost:5000

WHATSAPP_TOKEN=your_whatsapp_token_here
PHONE_NUMBER_ID=your_phone_number_id_here
VERIFIED_USER_NUMBER=your_verified_user_number_here
