@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

body {
	font-family: "Open Sans", sans-serif;
	background-color: #fce1c6;
	color: #333;
	margin: 0;
	padding: 0;
}

.myorders-container {
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
	border: solid 1px #ddd;
}

h1 {
	text-align: left;
	font-size: 3rem;
	color: #2d2d2d;
	font-weight: 600;
}

/* Order Tabs */
.myorders-tabs {
	display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
	overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  /* smooth mobile scrolling */
  -webkit-overflow-scrolling: touch;
}

.myorders-tabs button {
	padding: 12px 25px;
	margin-left: 10px;
	background-color: #f8f9fa;
	border: 2px solid lightgray;
	border-radius: 25px;
	cursor: pointer;
	font-size: 16px;
	transition: all 0.3s;
	font-weight: 600;
	color: #333;
}

.myorders-tabs button.myorders-active {
	    background-color: #556b2f;
    border-color: #1f2937;
	color: white;
}

.myorders-tabs button:not(.myorders-active):hover {
	background-color: #e6e6e6;
}

/* Order Card */
.myorders-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border: 1px solid #ddd;
	margin-bottom: 30px;
	padding: 25px;
	border-radius: 12px;
	background-color: #ffffff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s;
	overflow-x: auto;
	/* overflow-x: scroll; */
}

.myorders-card:hover {
	transform: translateY(-5px);
}

.myorders-card p {
	margin: 10px 0;
	font-size: 1rem;
}

.myorders-card strong {
	font-weight: 600;
	color: #536c28
}

/* Action Buttons */
.myorders-actions {
	margin-top: 20px;
	display: flex;
	gap: 15px;
}

.myorders-actions button {
	padding: 12px 20px;
	font-size: 0.9rem;
	font-weight: 600;
	border-radius: 30px;
	cursor: pointer;
	transition: background-color 0.3s;
	border: none;
}

.myorders-actions button:nth-child(1) {
	background-color:#748556;
	color: white;
}

.myorders-actions button:nth-child(1):hover {
	background-color: #83a743;
}

.myorders-actions button:nth-child(2) {
	background-color:#cf1d10;
	color: white;
}

.myorders-actions button:nth-child(2):hover {
	background-color: #e53935;
}
